body {
    font-family: cursive;
    margin: 20px 40px;
 }
 
 #mainbox {
    font-size: 24px;
    cursor: pointer;
    transition: all .6s;
 }
 
 .sidemenu {
    position: fixed;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 0px;
    background-color: #310331;
    z-index: 1;
    padding-top: 100px;
    overflow-x: hidden;
    transition: all .5s;
 }
 
 .sidemenu a {
    padding: 8px 8px 8px 64px;
    text-decoration: none;
    font-size: 30px;
    color: whitesmoke;
    display: block;
 }
 
 .sidemenu a:hover {
    
    color: rgb(208, 124, 233);;
    font-weight: bold;
    text-decoration: underline;
      }

 .caption{
        position:absolute;
        top:10%;
        left:20%;
        max-width: :600px;
        z-index: 99;
       
 }
      
 .caption h1{
        font-size:25px;
        font-family:cursive;
        color: #310331;
        
      }

.caption p{
       
        font-size:15px;
        font-family:cursive;
        color:rgb(227, 118, 237); ;
        
        border: 1.5px solid rgb(117, 3, 193);
        background-color: #31032c;

      }

#image{
        display: block;
  margin: 0 auto;
        position:absolute;
        top:10%;
        bottom: 30%;
        right:8%;
        max-width: 300px;
        border: 5px solid rgb(57, 6, 62);

       
       }

       
       .footer {
         position: fixed;
         left: 0;
         bottom: 0;
         width: 100%;
         background-color:rgb(57, 6, 62);
         color: rgb(227, 118, 237);
         text-align: center;
       }
       
       
      
 
 